:root {
  --font-nunito: 'Nunito Sans', Arial, Helvetica, sans-serif;
  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  --color-white: #fff;
  --color-light: #efeef3;
  --color-black: #000;
  --color-gray: #7690a8;
  --color-blue: #007ffc;
  --color-dark-blue: #16133d;
}